.root {
    	-fx-background-color: white;
}

.button {
    	-fx-background-color: white;

}

#loadfile1 {
	-fx-background-color: grey;
}
#loadfile2 {
	-fx-background-color: grey;
}
#loadfile3 {
	-fx-background-color: grey;
}

.button:hover {
	-fx-scale-y: 1.1;
	-fx-scale-x: 1.1;
}

.button:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}